<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 
 <context-param>
   <param-name>debug</param-name>
   <param-value>false</param-value>
 </context-param>
 
 <session-config> 
   <session-timeout>15</session-timeout>
 </session-config>
 
 <servlet>   
   <servlet-name>LoginController</servlet-name>
   <servlet-class>aber.dcs.cs221.group5.UI.HttpServletPackage.LoginController</servlet-class>   
 </servlet>
 
 <servlet>
 	<servlet-name>Register</servlet-name>
 	<servlet-class>aber.dcs.cs221.group5.UI.HttpServletPackage.Register</servlet-class>
 </servlet>
 
 <servlet>
 	<servlet-name>Homepage</servlet-name>
 	<servlet-class>aber.dcs.cs221.group5.UI.HttpServletPackage.Homepage</servlet-class>
 </servlet>
 
 <servlet>
 	<servlet-name>FriendPage</servlet-name>
 	<servlet-class>aber.dcs.cs221.group5.UI.HttpServletPackage.FriendPage</servlet-class>
 </servlet>
 
 <servlet>
 	<servlet-name>FriendRequests</servlet-name>
 	<servlet-class>aber.dcs.cs221.group5.UI.HttpServletPackage.FriendRequests</servlet-class>
 </servlet>
 
 <servlet>
 	<servlet-name>BreedOptions</servlet-name>
 	<servlet-class>aber.dcs.cs221.group5.UI.HttpServletPackage.BreedOptions</servlet-class>
 </servlet>
 
 <servlet>
 	<servlet-name>SellingOptions</servlet-name>
 	<servlet-class>aber.dcs.cs221.group5.UI.HttpServletPackage.SellingOptions</servlet-class>
 </servlet>
 
 <servlet>
 	<servlet-name>BattleRequest</servlet-name>
 	<servlet-class>aber.dcs.cs221.group5.UI.HttpServletPackage.BattleRequest</servlet-class>
 </servlet>
 
 <servlet-mapping>
   <servlet-name>LoginController</servlet-name>
   <url-pattern>/LoginController</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>Register</servlet-name>
 	<url-pattern>/Register</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>Homepage</servlet-name>
 	<url-pattern>/Homepage</url-pattern>	
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>FriendPage</servlet-name>
 	<url-pattern>/FriendPage</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>FriendRequests</servlet-name>
 	<url-pattern>/FriendRequests</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>BreedOptions</servlet-name>
 	<url-pattern>/BreedOptions</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>SellingOptions</servlet-name>
 	<url-pattern>/SellingOptions</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>BattleRequest</servlet-name>
 	<url-pattern>/BattleRequest</url-pattern>
 </servlet-mapping>

 

 

 
 
 
</web-app>